.container.clearfix
  = render 'shared/title', title: "Daily Activities"
  %section.daily_activities
    .day
      %h2 2/8/2018
      .table
        .thead
          .tr
            .th Duration
            .th Category
            .th Skill
            .th Description
            .th Submitted On
        .tbody
          .tr
            .td 1:00:00
            .td Category 1
            .td Skill 1
            .td Description 1
            .td 2/8/2018
          .tr
            .td 1:00:00
            .td Category 1
            .td Skill 1
            .td Description 1
            .td 2/19/2018
          .tr
            .td 1:00:00
            .td Category 1
            .td Skill 1
            .td Description 1
            .td 2/19/2018
          .tr
            .td 1:00:00
            .td Category 1
            .td Skill 1
            .td Description 1
            .td 2/19/2018
    .day
      %h2 2/5/2018
      .table
        .thead
          .tr
            .th Duration
            .th Category
            .th Skill
            .th Description
            .th Submitted On
        .tbody
          .tr
            .td 1:00:00
            .td Category 1
            .td Skill 1
            .td Description 1
            .td 2/8/2018
          .tr
            .td 1:00:00
            .td Category 1
            .td Skill 1
            .td Description 1
            .td 2/19/2018
          .tr
            .td 1:00:00
            .td Category 1
            .td Skill 1
            .td Description 1
            .td 2/19/2018
          .tr
            .td 1:00:00
            .td Category 1
            .td Skill 1
            .td Description 1
            .td 2/19/2018
