= form_for [@user, @skill] do |f|
  .form-group
    = f.label :name
    = f.text_field :name
  .form-group
    = f.submit(@skill.new_record? ? 'Create Skill' : 'Update Skill', class: 'btn btn-success')
