<div class="welcome container">
  <h1>Mastery Tracker</h1>
  <div class="banner">
    <h2 class="banner-title">Track Your Progress</h2>
    <p>Log your time spent on everyday activities, learning a new skill, or even your sleep. Whatever you want!</p>
  </div>
</div>
