= render 'shared/title', title: "Today's Activities"
%section.stopwatches
  %table
    %thead
      %tr
        %th Elapsed Time
        %th Category
        %th Skill
        %th Description
        %th
    %tbody
      %tr.stopwatch
        %td.time-display 00:00:00
        %td Software Development
        %td Ruby
        %td Mastery Tracker
        %td
          .btn.btn-success.startstop Start
          .btn.btn-danger.reset Reset
          .btn.btn-success Submit
      %tr.stopwatch
        %td.time-display 00:00:00
        %td Software Development
        %td Ruby
        %td Mastery Tracker
        %td
          .btn.btn-success.startstop Start
          .btn.btn-danger.reset Reset
          .btn.btn-success Submit
      %tr.stopwatch
        %td.time-display 00:00:00
        %td Software Development
        %td Ruby
        %td Mastery Tracker
        %td
          .btn.btn-success.startstop Start
          .btn.btn-danger.reset Reset
          .btn.btn-success Submit
