/* COLORS */
/*
  GREEN
  #2d882d;

  BLUE
  #226666;

  ORANGE
  #aa6c39;

  RED
  #aa3939;

  BRIGHT GREEN
  #e4fde4;

  BRIGHT BLUE
  #e2fbfb;

  BRIGHT ORANGE
  #fff1e6;

  BRIGHT RED
  #ffe6e6;

  MID GRAY
  #8b8f84;
 */
/* END COLORS */

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #444444;
  background: #ffffff;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #226666;
}

small {
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 20px;
}

main {
  padding: 20px;
}

/*
**************************************************
NAVIGATION
**************************************************
*/

a.brand {
  font-size: 1.3em;
  padding: 10px 15px;
  margin: 0;
}

.navbar-inner {
  min-height: 40px;
  padding: 0 20px;
  background: #e2fbfb;
}

.nav_item {
  display: inline-block;
  padding: 0;
  margin-right: 20px;
  vertical-align: middle;
}

/*
**************************************************
SPEADSHEET
**************************************************
*/

#picker tbody td {
  width: 200px;
  /* padding: 6px 10px; */
  color: #eeeeee;
  background: #444444;
}

#picker td.duration-total {
  color: #444444;
  background: #ffffff;
  padding: 6px 10px;
}

#picker input[name*="category-"],
#picker input[name*="skill-"],
#picker input[name*="description-"] {
  width: 100%;
  font: inherit;
  color: inherit;
  background: inherit;
  border: none;
  box-sizing: border-box;
}

#picker input[name*="category-"]:focus,
#picker input[name*="skill-"]:focus,
#picker input[name*="description-"]:focus {
  box-shadow: none;
}


/*
**************************************************
AUTOCOMPLETE UI
**************************************************
*/

.input-wrapper {
  position: relative;
}

.input-wrapper input {
}

.autocomplete-ui {
  position: absolute;
  width: 100%;
  max-height: 10em;
  padding: 0;
  margin: 5px 0 0 0;
  color: #444444;
  background: #ffffff;
  border: 1px solid #444444;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
}

.autocomplete-ui-choice {
  padding: 4px 10px;
  cursor: pointer;
}

.autocomplete-ui-choice.selected,
.autocomplete-ui-choice:hover {
  color: #ffffff;
  background: #444444;
}

/*
**************************************************
BUTTONS
**************************************************
*/

.btn {
  display: inline-block;
  padding: 4px 10px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #444444;
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* Link to open menu */
.btn-group .btn:first-child {

}

.caret {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.btn .caret {
  margin-top: 8px;
}

.btn-group > .dropdown-toggle {
  border-radius: 4px;
}

.btn-group > .dropdown-menu {
  display: none;
  font-size: 14px;
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  float: left;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  /* padding: 5px 0; */
  margin: 3px 0 0;
  list-style: none;
  background: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #444444;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover {
  color: #ffffff;
  background: #226666;
}

.dropdown-menu li.divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #cccccc;
  border-bottom: 1px solid #cccccc;
}

/*
*************************************************
FLASH MESSAGES
*************************************************
*/

.alert {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  color: #7d6713;
  background: #fff4cc;
  border-radius: 4px;
}

.alert-success {
  color: #444444;
  background: #e4fde4;
}

.alert-danger {
  color: #444444;
  background: #ffe6e6;
}

.close {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}

/*
*************************************************
MESSAGES
*************************************************
*/

.field_with_errors {
  display: inline-block;
}

.field_with_errors input {

}

/*
*************************************************
FORMS
*************************************************
*/

.form-group {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

label {
  display: block;
  margin: 10px 0 5px;
  vertical-align: middle;
}

input,
textarea,
select {
  width: 250px;
  padding: 6px 10px;
  color: #444444;
  background: #ffffff;
  vertical-align: middle;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  transition: border .2s linear, box-shadow .2s linear;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #8b8f84;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 143, 132, 0.6)
}

select:hover option {
  color: #ffffff;
  background: #226666;
}

.danger input,
.danger textarea,
.danger select {
  border-color: #aa3939;
}

.danger input:focus,
.danger textarea:focus,
.danger select:focus {
  border-color: #aa3939;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 57, 57, 0.6)
}

.help-inline {
  margin-left: 20px;
  color: #aa3939;
  vertical-align: middle;
}

/*
*************************************************
SAVE
*************************************************
*/

.save-container {
  position: relative;
  display: inline-block;
}

.save-container .save {
  position: absolute;
  min-width: 200px;
  top: 0;
  left: 100%;
  padding: 4px 30px 4px 10px;
  margin-left: 20px;
  text-align: left;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.save-container .save p {
  margin: 0;
}

.save-success {
  color: #2d882d;
  background: #eeeeee;
}

.save-danger {
  color: #aa3939;
  background: #eeeeee;
}
