<tr>
  <td>
    <input type="text" name="category-<%= index %>" value="">
  </td>
  <td>
    <input type="text" name="skill-<%= index %>" value="">
  </td>
  <td>
    <input type="text" name="description-<%= index %>" value="">
  </td>
  <td class="duration-total">
    <%# category = Category.first %>
    <%# skill = Skill.first %>
    <%# description = Description.first %>
    <%#= format_duration(sum_duration(category, skill, description)) %>
  </td>
</tr>
