<tr>
  <td>
    <input type="text" name="category-<%= index %>" value="">
  </td>
  <td>
    <input type="text" name="skill-<%= index %>" value="">
  </td>
  <td>
    <input type="text" name="description-<%= index %>" value="">
  </td>
</tr>
