<div class="add-row-container">
  <%= link_to "Add Row", spreadsheet_rows_path(@spreadsheet), method: "POST", remote: true, class: 'btn add-row' %>
</div>
<div class="grid">
  <table id="picker" data-id="<%= @spreadsheet.id %>">
    <thead>
      <tr>
        <th>Category</th>
        <th>Skill</th>
        <th>Description</th>
        <th>Duration <small>(hh:mm)</small></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'rows/rows', spreadsheet: @spreadsheet %>
    </tbody>
  </table>
</div>
