<div class="grid">
  <table id="picker">
    <thead>
      <tr>
        <th>Category</th>
        <th>Skill</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Software Development</td>
        <td>Ruby</td>
        <td>Mastery Tracker</td>
      </tr>
      <tr>
        <td>Software Development</td>
        <td>JavaScript</td>
        <td>Photography Site</td>
      </tr>
      <tr>
        <td>Software Development</td>
        <td>HTML & CSS</td>
        <td>All</td>
      </tr>
      <tr>
        <td>
          <input type="text" name="category-4" value="">
        </td>
        <td>HTML & CSS</td>
        <td>All</td>
      </tr>
    </tbody>
  </table>
</div>
