<div class="container">
  <%= render 'shared/title', title: @spreadsheet.name %>

  <div class="add-row-container">
    <%= link_to "Add Row", user_spreadsheet_rows_path(@user, @spreadsheet), method: "POST", remote: true, class: 'btn add-row' %>
    <%= link_to "Delete Last Row", user_spreadsheet_row_path(@user, @spreadsheet), method: "DELETE", remote: true, class: 'btn add-row' %>
  </div>
  <div id="picker" class="rows">
    <div class="row headings">
      <div class="row_heading">Category</div>
      <div class="row_heading">Skill</div>
      <div class="row_heading">Description</div>
      <div class="row_heading">Duration <small>(hh:mm)</small></div>
    </div>
    <% @spreadsheet.rows.each do |row, index| %>
      <%= render 'rows/row', index: index, row: row %>
    <% end %>
  </div>
</div>
