<div class="footer-inner">
  <p>Created by <a href="https://ajdot.github.io" target="_blank">Alex Henegar</a></p>
  <%# TODO: Update link when I publish this on GitHub %>
  <p>View the source code for this application on <a href="https://github.com/AJDot/mastery_tracker" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></p>
</div>
